.home__section {
  display: flex;
  padding: 30px;
  flex-basis: 0;
  flex: 1 1 auto;
  transition: all 0.2s ease-in-out;
  margin-bottom: -20px;
  /* flex-wrap: wrap; */
}
.home__section:last-child {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .home__section {
    display: flex;
    flex-direction: column;
    padding: 24px 75px;
    transition: all 0.2s ease-in-out;
  }
}
